################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/.vscode
/greenops.client/.vscode
/greenops.client/obj/Debug
/GreenOps.Server/bin/Debug/net8.0
/GreenOps.Server/obj
