<div class="azure-pipeline-resource">
    <sh-input-text
      label="Name"
      [(value)]="resourceDetails.name"
      [attr.readonly]="isViewMode ? true : null"
      required
    ></sh-input-text>

    <sh-input-text
      label="Pipeline ID"
      [(value)]="resourceDetails.pipelineId"
      [attr.readonly]="isViewMode ? true : null"
      required
    ></sh-input-text>

    <sh-input-text
      label="Organization"
      [(value)]="resourceDetails.organization"
      [attr.readonly]="isViewMode ? true : null"
      required
    ></sh-input-text>

    <sh-input-text
      label="Project"
      [(value)]="resourceDetails.project"
      [attr.readonly]="isViewMode ? true : null"
      required
    ></sh-input-text>

    <sh-dropdown label="Geography" [(ngModel)]="resourceDetails.geography" name="region" [readonly]="isViewMode">
      <sh-menu-item *ngFor="let geo of geographyOptions" [label]="geo"></sh-menu-item>
    </sh-dropdown>
</div>
