<div class="carbon-optimizer-resource">
    <sh-input-text
      label="Name"
      [(value)]="resourceDetails.name"
      [att.readonly]="isViewMode? true : null"
      required
    ></sh-input-text>

    <sh-input-text
      label="Subscription ID"
      [(value)]="resourceDetails.subscriptionId"
      [att.readonly]="isViewMode? true : null"
      required
    ></sh-input-text>

    <sh-input-text
      label="Tenant ID"
      [(value)]="resourceDetails.tenantId"
      [att.readonly]="isViewMode? true : null"
      required
    ></sh-input-text>

    <sh-input-text
      label="Client ID"
      [(value)]="resourceDetails.clientId"
      [att.readonly]="isViewMode? true : null"
      required
    ></sh-input-text>
</div>