<!-- <sh-pane slot='left' label='Options' behavior='collapse'>
    <sh-accordion label='Layout' expanded>
      <sh-menu-item icon='layout-1x1' label='1x1'></sh-menu-item>
      <sh-menu-item icon='layout-2x1' label='2x1' active></sh-menu-item>
      <sh-menu-item icon='layout-2x2' label='2x2'></sh-menu-item>
      <sh-menu-item icon='layout-3x2' label='3x2'></sh-menu-item>
    </sh-accordion>
    <sh-accordion label='Tools' expanded>
      <sh-menu-item label='Pan' icon='pan' active></sh-menu-item>
      <sh-menu-item label='Zoom' icon='zoom'></sh-menu-item>
      <sh-menu-item label='Windowing' icon='windowing'></sh-menu-item>
      <sh-menu-item label='Rotate 2D' icon='rotate-2d'></sh-menu-item>
      <sh-menu-item label='Rotate 3D' icon='rotate-3d'></sh-menu-item>
    </sh-accordion>
  </sh-pane> -->

  <p>Dashboard content goes here</p>